@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CPMono";
  src: url("/fonts/CPMono_v07_Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "CPMono";
  src: url("/fonts/CPMono_v07_Black.woff2") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "CPMono";
  src: url("/fonts/CPMono_v07_Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "CPMono";
  src: url("/fonts/CPMono_v07_ExtraLight.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "CPMono";
  src: url("/fonts/CPMono_v07_Plain.woff2") format("woff2");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: #434243;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #272727;
}

*::-webkit-scrollbar-thumb {
  background-color: #434243;
  border-radius: 18px;
}


body, html {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

html {
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 1.2;
    background-color: #080909;
    scroll-behavior: smooth;
}

body {
  font-family: "CPMono";
  background-color: #080909;
  /* max-width: 1920px;
  margin-left: auto;
  margin-right: auto; */
}

img, video {
  max-width: 100vh;
}

h1{
  font-size: 45rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -10.13rem;
}

h2{
  font-size: 16rem;
  line-height: 0.72;
  font-weight: 200;
  letter-spacing: -2rem;
}

.text-main {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #B2B2B1;
}

.header{
  color: #B2B2B1; 
  font-style: normal;
  text-transform: uppercase;
  
  @supports (
    (-webkit-text-fill-color: transparent) and
    (-webkit-text-stroke-width: 0.1rem) and
    (-webkit-text-stroke-color: #B2B2B1)
  ) {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #B2B2B1;
  }
}


.clock-arrow,
.clock-center  {
  position: absolute;
  transform: translate(-50%, -50%);
}

.clock-arrow{
  transform: translate(-80%, -80%);
  transform-origin: 80% 80%;
}

.wait{
  overflow: hidden;
}

.wait-content{
  position: relative;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: #080909;
}

/* @keyframes fillDash {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.dashed-line path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: fillDash 2s linear forwards;
} */


.track-left {
  display: flex;
  justify-content: space-between;
  animation: marquee 100s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.track-right{
  display: flex;
  justify-content: space-between;
  animation: marquee-right 100s linear infinite;
}

@keyframes marquee-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
} 


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle {
  animation: rotate 600s linear infinite;
}


@keyframes rotate-small {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.circle-small {
  animation: rotate-small 300s linear infinite;
}